* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #1f3648;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;

}

.wrapper {
  height: 100dvh;
  display: grid;
  place-items: center;
}

.container {
  margin: 0 auto;
  padding: 20px;
  background: #f3f3f3;
  box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.5);
}

svg {
  margin: 0 auto;

}

#tooltip {
  opacity: 0;
  position: absolute;
  background: hsla(0, 0%, 15%, 0.8);
  border-radius: 3px;
  color: #f1f1f1;
  padding: 5px;
  box-shadow: 0 0 10px hsla(207, 40%, 13%, 0.5);
  text-align: center;
  line-height: 1.3;
  font-weight: bold;
  border: 1px solid #000;
}

.bar:hover {
  filter: opacity(0.2);
}

.container h1 {
  text-align: center;
  font-weight: 100;
  margin-bottom: 1rem;
}